*{
    margin: 0;
    padding:0;

}
.container{

    border-radius: 30px;
    border: 1px solid rgb(231, 173,230);
    width: 600px;
    padding: 15px;
    background-color: rgb(212,235,238);
    box-shadow: 0px 0px 20px rgb(163,142,142);
    margin: 50px;

}

.first{

    display: flex;
    padding: 15px;
    width:80%;
    justify-content: space-between;
}

body{
    display: flex;
    justify-content: center;
    padding: 5%;
}
 
.heading{
    font-size: 35px;
    color: rgb(222,32,111);
}

h5{
    color: rgb(109,28,189);
    font-weight: 1000;
    font-size: medium;

}

select{
    border-bottom: 2px solid rgb(66,66,57);
    border-radius: 5px;
    width:100%;
    height: 40px;

}

input{

    border-bottom: 2px solid black;
    width:90%;
    height:30px;
    border-radius: 5px;
    text-decoration: none;

}

.btn{
    border: 2px solid rgb(31,188,68);
    border-radius: 20px;
    background-color: rgb(125,200,85);
    width:250px;
    height:40px;
    color: white;

}

#result{

    border-bottom: 2px solid black;
    width:60%;
    
}
    